<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  
  <a class="navbar-brand" href="/" *ngIf="!auth.isAuthenticated()">
    <img class="logo" src="assets/images/logo.png" alt="Seido"> Seido
  </a>

  <a class="navbar-brand" href="javascript:window.location.href=window.location.href" *ngIf="auth.isAuthenticated()">
    <img class="logo" src="assets/images/logo.png" alt="Seido"> Seido
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="auth.isAuthenticated() && auth.isCurrentUserAdmin()">
        <a class="nav-link" routerLink="/user" (click)="auth.id = 0">Usuarios</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': auth.id === 1 }" id="company" *ngIf="auth.isAuthenticated() && auth.isCurrentUserRoot()">
        <a class="nav-link" routerLink="/company" (click)="auth.id = 0">Empresas</a>
      </li>
      <li class="nav-item" id="specialty" *ngIf="auth.isAuthenticated() && auth.isCurrentUserAdmin()">
        <a class="nav-link" routerLink="/specialty" (click)="auth.id = 0">Especialidades</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': auth.id === 2 }" id="patient" *ngIf="auth.isAuthenticated() && auth.isCurrentUserAdminOrOperator()">
        <a class="nav-link" routerLink="/patient" (click)="auth.id = 0">Pacientes</a>
      </li>

      <li class="nav-item dropdown" *ngIf="auth.isAuthenticated() && auth.isCurrentUserOnlyAdmin() && auth.addons">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="addons">Adicionales <span class="caret"></span></a>
        <div class="dropdown-menu" aria-labelledby="addons">
          <span *ngFor="let addon of auth.addons">
            <a *ngIf="addon.enabled" class="dropdown-item" routerLink="/{{addon.path}}" (click)="auth.id = 0">{{addon.name}}</a>
          </span>
          <!--
          <a class="dropdown-item" routerLink="/control6" (click)="auth.id = 0">Control 6 meses</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/opcion2" (click)="auth.id = 0">Opción 2</a>
          -->
        </div>
      </li>

    </ul>

    <div class="form-inline my-2 my-lg-0">

      <i *ngIf="auth.isAuthenticated()" style="color:white">{{auth.userLoged}}&nbsp;&nbsp;</i>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="!auth.isAuthenticated()">
          <a class="nav-link pointer" routerLink="/login">Iniciar sesión</a>
        </li>
        <li class="nav-item" *ngIf="auth.isAuthenticated()">
          <a class="nav-link pointer" (click)="logout()">Cerrar sesión</a>
        </li>
      </ul>
    </div>

  </div>

</nav>
