/* You can add global styles to this file, and also import other style files */

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

html, body {
    width: 100%;
    height: 99%;
    font-size: 14px;
}

/** ========================== LOADING APP - BEGIN ==================== */ 
app-root {
	background-color: rgb(87,199,175);
}

/** ========================== LOADING APP - END ==================== */ 


/** ========================== CRUD CSS - BEGIN ==================== */ 
.crud-list > button {
	float: right;
	margin-bottom: 10px;
}

.list_filtered {
	display: table;
}

.form_filtered {
	display: none;
}

/** ========================== CRUD CSS - END ==================== */ 

.btn-xs{
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 10px;
}

table td{
    padding:4px;
    padding-left: 10px;
 }
 
 .patient-box {
    margin-top: 5px;
    border-radius: 20px;
    border: 1px solid rgb(0,182,141);
    padding: 10px; 
 }

 @import "~@angular/material/prebuilt-themes/indigo-pink.css";
 