<div class="container">
  <div class="crud-list">
    <h1>Usuarios</h1>
    
    <button class="btn btn-info btn-option" type="button"  routerLink="/listusers">
      Lista
    </button>

    <button class="btn btn-info btn-option" type="button" routerLink="/finduser">
      Buscar
    </button>
    
    <button class="btn btn-info btn-option" type="button" data-toggle="modal" data-target="#userForm" (click)="onSelectNew()">
      Nuevo
    </button>
    
    <br/>
    <br/>
    
    <div *ngIf="userList && userList.length > 0">
      <div *ngFor="let user of userList" class="patient-box">
        <div>
          Usuario: {{user.username}}<br>
          Nombre: {{user.firstname}} {{user.lastname}}<br>

          <div *ngIf="user.authority.name == 'ROLE_ROOT'">
            Rol: Root<br>
          </div>

          <div *ngIf="user.authority.name == 'ROLE_ADMIN'">
            Rol: Administrador<br>
          </div>

          <div *ngIf="user.authority.name == 'ROLE_OPERATOR'">
            Rol: Operador<br>
          </div>
          
          Empresa: {{user.company.name}}<br><br>
        </div>
      
        <button class="btn btn-info btn-xs" type="button" data-toggle="modal" data-target="#userForm"
          (click)="onSelectDetail(user)" title="Editar">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <button class="btn btn-info btn-xs" type="button" data-toggle="modal" data-target="#passwordForm"
          (click)="onSelectPassword(user)" title="Cambiar Clave">
            <i class="fa fa-key" aria-hidden="true"></i>
        </button>
        <button class="btn btn-danger btn-xs" type="button" data-toggle="modal" data-target="#deluserForm"
          (click)="onSelectDelete(user)" title="Eliminar">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </button>

      </div>
    </div>
  </div>
</div>

<!-- User form -->
<div class="modal fade" id="userForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" *ngIf="selectedUser">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Detalles del Usuario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label for="username">Usuario</label>
            <input type="text"  [disabled]="editMode" class="form-control" placeholder="Nombre de usuario" id="username" 
              name="username" required autocomplete="off" [(ngModel)]="selectedUser.username">
          </div>
          <div class="form-group" *ngIf="!editMode">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" placeholder="Contraseña" id="password" 
              name="password" required [(ngModel)]="selectedUser.password">
          </div>
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" id="name" 
              name="name" required autocomplete="off" [(ngModel)]="selectedUser.firstname">
          </div>
          <div class="form-group">
            <label for="lastname">Apellido</label>
            <input type="text" class="form-control" placeholder="Apellido" id="lastname" 
              name="lastname" required autocomplete="off" [(ngModel)]="selectedUser.lastname">
          </div>
          <div class="form-group">
            <label for="email">Correo</label>
            <input type="email" class="form-control" placeholder="Correo Electrónico" id="email" 
              name="email" required autocomplete="off" [(ngModel)]="selectedUser.email">
          </div>
          <div class="form-group" *ngIf="auth.isAuthenticated() && auth.isCurrentUserRoot()">
            <label for="enabled">Habilitado</label>
            <select class="form-control" id="enabled" name="enabled" [(ngModel)]="selectedUser.enabled">
              <option value="1">Habilitado</option>
              <option value="0">Deshabilitado</option>
            </select>
          </div>
          <div class="form-group" *ngIf="auth.isAuthenticated() && auth.isCurrentUserRoot()">
            <label for="rol">Rol</label>
            <select class="form-control" id="rol" name="rol" [(ngModel)]="selectedUser.authority.name">
              <option value="ROLE_ROOT">Root</option>
              <option value="ROLE_ADMIN">Administrador</option>
              <option value="ROLE_OPERATOR">Operador</option>
            </select>
          </div>
          <div class="form-group" *ngIf="auth.isAuthenticated() && auth.isCurrentUserRoot()">
            <label for="company">Empresa</label>
            <select class="form-control" id="company" name="company" [(ngModel)]="selectedUser.company.id">
              <option *ngFor="let comp of companyList" value="{{comp.id}}">{{comp.name}}</option>
            </select>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-info" data-dismiss="modal" (click)="onSave()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Password form -->
<div class="modal fade" id="passwordForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" *ngIf="selectedUser">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Cambiar Clave de Usuario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" placeholder="Contraseña" id="password" 
              name="password" required [(ngModel)]="selectedUser.password">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-info" data-dismiss="modal" (click)="onChangePass()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete User form -->
<div class="modal fade" id="deluserForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" *ngIf="selectedUser">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Eliminar Usuario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>
          ¿Está seguro que quiere eliminar el usuario?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onDelete()">Eliminar</button>
      </div>
    </div>
  </div>
</div>